h1 {
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
}

#splash-page {
    padding-top: 15%;
    height: 100vh;
}

.spash-logo {
    text-align: center;
}

.settings-page {
    text-align: center;
    font-size: 50px;
}

.sprites {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 80px;
}

.input-box {
    margin-top: 20px;
    
}

.game-board-box{
    width: 100%;
    height: 100%;
    text-align: center;
}

.game-board{
    width: 100%;
    height: 100%;
    text-align: center;
}

td {
    border: 1px solid black;
}

.card:hover {
    background: rgb(211,211,211);
}

td:hover {
    background: rgb(211,211,211);
}

.color-select {
    font-size: 80px;
    padding: 3%;
}

.select-green {
    color: green;
}

.select-pink {
    color: pink;
}

.select-red {
    color: red;
}

.select-orange {
    color: orange;
}

.select-yellow {
    color: yellow;
}

.select-blue {
    color: blue;
}

.select-purple {
    color: purple;
}

.select-brown {
    color: brown;
}

.select-gray {
    color: gray;
}

.select-black {
    color: black;
}

.icon {
    height: 80px;
    width: 80px;
}

.icon-placeholder {
    height: 80px;
    width: 80px;  
}

.player-start {
    font-size: 50px;
}

.centered {
    text-align: center;
}

.column-in-center{
    float: none;
    margin: 0 auto;
}

#gameplay-page, #set-p1-icon-page, #set-p2-icon-page, #p1-winner-page, #p2-winner-page, #draw-page, #setting-page {
    display:none;
}

.player-icons {
    font-size: 50px;
    padding: 5px;
}